<!DOCTYPE html>
<html>
<head>
  <title>Wake</title>
  <link href='http://fonts.googleapis.com/css?family=Questrial|Orbitron:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">
</head>
<body>
	<div id="wrapper">

		<div style="display:none" id="landing">
			<header>
				<div class="logo">
					<%= image_tag "logo.png" %>
				</div>
			</header>
			<h1 id="wake">wake</h1>
			<div class="button-container">
				<%= link_to "we've got your back", select_url, :class => "button" %>
			</div>
		</div>

		<div id="core">
			<header>
				<div class="logo-wake">
					<%= image_tag "logo_wake.png" %>
				</div>
				<nav>
		 			<ul class="mobile">
		 				<li><!--%= link_to "dashboard", dashboard_url %--></li>
		 				<li><!--%= link_to "your trips", root_url %--></li>
		 				<li><!--%= link_to "logout", logout_url %--></li>
		 			</ul>
		 		</nav>
			</header>
			<%= yield %>
		</div>

		<div id="push"></div>
	</div>
	
	<footer style="display:none" id="graphic">
		<%= image_tag @graphic_name %>
	</footer>
	<footer id="empty">
	</footer>

	<style>
		
</style>

</body>
</html>
