<!DOCTYPE html>
<html>
<head>
  <title>Wake</title>
  <link href='http://fonts.googleapis.com/css?family=Questrial|Orbitron:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'logo.png' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">
</head>
<body>
	<div id="wrapper">

		<div style="display:none" id="landing">
			<header>
				<div class="logo">
					<%= image_tag "logo.png" %>
				</div>
			</header>
			<h1 id="wake">wake</h1>
			<div class="button-container">
				<%= link_to "we've got your back", select_url, :class => "button" %>
			</div>
		</div>

		<div id="core">
			<header>
				<div class="logo-wake">
					<%= link_to dashboard_url do %>
						<%= image_tag "logo_wake.png" %>
					<% end %>
				</div>
			</header>
			<%= yield %>
		</div>

		<div id="push"></div>
	</div>
	
	<% if @graphic %>
		<footer id="graphic">
			<%= image_tag @graphic_name %>
		</footer>
	<% end %>
	<footer id="empty">
	</footer>

	<style>
		
</style>

</body>
</html>
